body {
    --bs-body-font-family: var(--bs-font-monospace);
    --bs-body-line-height: 1.4;
    --bs-body-bg: var(--bs-gray-100);
  }
  
  .table {
    --bs-table-color: var(--bs-gray-600);
    --bs-table-bg: var(--bs-gray-100);
    --bs-table-border-color: transparent;
  }
  .component {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: .25rem;
  }
  
  .component-header {
    color: var(--bs-purple);
  }
h1, h2 {
    text-align: center;
}
form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form label {
    display: block;
    margin-bottom: 5px;
}
form input, form textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #3e8e41;
}
#cv {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#cv h2 {
    margin: top 5px;

}
